// Common

*.class
*.jar
!/cvm/*.jar
.hg/
.hgignore
/.cpcache
/**/.cpcache
/*/.
/.nrepl-history
/.nrepl-port
/checkouts
/classes
/target
/.lsp


// Misc

!/.clj-kondo/config.edn
!/.clj-kondo/hooks
/**/.clj-kondo
/**/.lsp
!/bb/script/dev.clj
/**/dev.clj
/.clj-kondo/*
/cvm
/private
/**/target/
/**/pom.xml

cvx_report_*.edn
