{:aliases
 {


  ;; MISCELLANEOUS
  

  :cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.23"}}
   :main-opts  ["-m" "shadow.cljs.devtools.cli"]}


  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "nrepl.cmdline" "--port" "14563"]}




  ;; INSTALL, JAR, DEPLOY, ...


  :deploy
  {:exec-args  {:artifact  "compiled/jvm/release.jar"
                :installer :remote}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}}


  :install
  {:exec-args  {:artifact  "compiled/jvm/release.jar"
                :installer :local}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}}
    

  :jar
  {:exec-args    {:jar      "compiled/jvm/release.jar"
                  :sync-pom true}
   :exec-fn      hf.depstar/jar
   :replace-deps {seancorfield/depstar {:mvn/version "2.0.171"}}}




  ;; DEV


  :dev
  {:extra-deps  {org.clojure/tools.reader {:mvn/version "1.3.4"}}
   :extra-paths ["project/deploy/actor/oracle-trusted/src/cvx/main"
                 "project/deploy/actor/prediction-market/src/cvx/main"
                 "project/deploy/actor/registry/src/cvx/main"
                 "project/deploy/actor/secured-loan/src/cvx/main"
                 "project/deploy/actor/torus/src/cvx/main"
                 "project/deploy/lab/lib/xform/src/clj/dev"
                 "project/deploy/lab/lib/xform/src/cvx/dev/convex/xform/store.cvx"
                 "project/deploy/lab/lib/xform/src/cvx/main/convex/xform.cvx"
                 "project/deploy/lib/asset/src/cvx/main"
                 "project/deploy/lib/box/src/cvx/main"
                 "project/deploy/lib/core/src/cvx/main"
                 "project/deploy/lib/fungible/src/cvx/main"
                 "project/deploy/lib/nft-tokens/src/cvx/main"
                 "project/deploy/lib/simple-nft/src/cvx/main"
                 "project/deploy/lib/trust/src/clj/main"
                 "project/deploy/lib/trust/src/clj/test"
                 "project/deploy/lib/trust/src/cvx/main"
                 "project/dev/src/clj/dev"
                 "project/example/src/clj"
                 "project/run/src/cvx/dev"
                 "project/run/src/cvx/example"]}




  ;; ADDITIONAL PROFILES FOR CLI APPS


  :project.app.fuzz
  {:extra-paths ["project/app/fuzz/src/clj/main"]}


  :project.app.run
  {:extra-deps  {org.clojure/tools.cli {:mvn/version "1.0.206"}}
   :extra-paths ["project/app/run/src/clj/main"]}




  ;; RUNNING CLI APPS

  :app.fuzz
  {:exec-args {:max-size 200
               :root     "report/fuzz"}
   :exec-fn   convex.app.fuzz/random}


  :app.run
  {:main-opts ["-m" "convex.app.run"]}




  ;; TESTING



  :test
  {:extra-deps  {io.helins/mprop {:mvn/version "0.0.1"}
                 lambdaisland/kaocha {:mvn/version "1.0.829"}}
   :extra-paths ["project/break/src/clj/test"
                 "project/clojurify/src/cljc/test"
                 "project/cvm/src/clj/test"]}
  }
 ;;
 ;; ALIAS END



 :deps
 {;cljs-ajax/cljs-ajax  {:mvn/version "0.8.3"}
  hawk/hawk                {:mvn/version "0.2.11"}
  org.clojure/test.check   {:mvn/version "1.1.0"}
  world.convex/convex      {:local/root "cvm/0373e815b38de5cca4ce41929145692f08d4e88a.jar"}}




 :paths
 ["project/break/src/clj/main"
  "project/break/src/cvx/main"
  "project/clojurify/src/cljc/main"
  "project/cvm/src/clj/main"
  "project/run/src/clj/main"
  "project/run/src/cvx/main"
  "project/sync/src/clj/main"
  "project/watch/src/clj/main"]
}
