{:aliases
 {



  :external/convex
  {:extra-deps {world.convex/convex {:local/root "cvm/c08c8231fcecabc2ab6c8e0a856f8c1b72965385.jar"}}}


  :external/hawk
  {:extra-deps {hawk/hawk {:mvn/version "0.2.11"}}}


  :external/test.check
  {:extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}

  :external/tools.cli
  {:extra-deps {org.clojure/tools.cli {:mvn/version "1.0.206"}}}

  :external/tools.reader
  {:extra-deps {org.clojure/tools.reader {:mvn/version "1.3.4"}}}





  :module/all
  {:extra-paths     ["project/all/src/clj/dev"]
   :maestro/require [:external/hawk
                     :external/test.check
                     :module/app.fuzz
                     :module/app.run
                     :module/break
                     :module/cvm
                     :module/clojurify
                     :module/run
                     :module/sync
                     :module/watch]}



  :module/app.fuzz
  {:extra-paths     ["project/app/fuzz/src/clj/main"]
   :maestro/require [:external/test.check
                     :module/break
                     :module/cvm
                     :module/clojurify
                     :toggle/tap]}


  :module/app.fuzz.dev
  {:extra-paths     ["project/app/fuzz/src/clj/dev"]
   :maestro/require [:module/app.fuzz]}


  :module/app.run
  {:extra-paths     ["project/app/run/src/clj/main"]
   :maestro/require [:external/tools.cli
                     :module/run]}


  :module/app.run.dev
  {:extra-paths     ["project/app/run/src/clj/dev"]
   :maestro/require [:module/app.run]}


  :module/break
  {:extra-paths      ["project/break/src/clj/main"
                      "project/break/src/cvx/main"]
   :maestro/require  [:module/clojurify
                      :module/cvm
                      :module/sync]}


  :module/break.test
  {:extra-paths      ["project/break/src/clj/test"]
   :maestro/require  [:module/break]}


  :module/cvm
  {:extra-paths     ["project/cvm/src/clj/main"]
   :maestro/require [:external/convex
                     :module/clojurify]}


  :module/cvm.dev
  {:extra-paths      ["project/cvm/src/clj/dev"]
   :maestro/require  [:module/cvm]}


  :module/clojurify
  {:extra-paths      ["project/clojurify/src/cljc/main"]
   :maestro/require  [:external/test.check
                      :module/cvm]}


  :module/clojurify.dev
  {:extra-paths      ["project/clojurify/src/cljc/dev"]
   :maestro/require  [:module/clojurify]}


  :module/deploy
  {:maestro/require [:module/clojurify
                     :module/cvm
                     :module/watch]}


  :module/deploy.lib.trust
  {:extra-paths     ["project/deploy/lib/trust/src/clj/dev"
                     "project/deploy/lib/trust/src/cvx/main"]
   :maestro/require [:module/deploy]}


  :module/deploy.lab.lib.xform
  {:extra-paths     ["project/deploy/lab/lib/xform/src/clj/dev"
                     "project/deploy/lab/lib/xform/src/cvx/dev"
                     "project/deploy/lab/lib/xform/src/cvx/main"]
                        
   :maestro/require [:module/deploy]}


  :module/run
  {:extra-paths     ["project/run/src/clj/main"
                     "project/run/src/cvx/main"]
   :maestro/require [:module/cvm
                     :module/sync
                     :module/watch]}


  :module/run.dev
  {:extra-paths     ["project/run/src/clj/dev"
                     "project/run/src/cvx/dev"]
   :maestro/require [:module/run
                     :toggle/tap]}


  :module/sync
  {:extra-paths     ["project/sync/src/clj/main"]
   :maestro/require [:module/cvm]}


  :module/sync.dev
  {:extra-paths     ["project/sync/src/clj/dev"]
   :maestro/require [:module/break
                     :module/sync]}


  :module/watch
  {:extra-paths     ["project/watch/src/clj/main"]
   :maestro/require [:external/hawk
                     :module/sync]}


  :module/watch.dev
  {:extra-paths     ["project/watch/src/clj/dev"]
   :maestro/require [:module/watch]}




  :toggle/tap
  {:maestro/env {"CONVEX_TAP" "TRUE"}}






  :dev
  {:extra-paths     ["dev"]
   :maestro/env     {"CONVEX_DEV" "true"}
   :maestro/require [:external/tools.reader]}



  :test
  {:extra-deps  {io.helins/mprop     {:mvn/version "0.0.1"}
                 lambdaisland/kaocha {:mvn/version "1.0.829"}}}







  ;; MISCELLANEOUS
  

  :cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.23"}}
   :main-opts  ["-m" "shadow.cljs.devtools.cli"]}


  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "nrepl.cmdline" "--port" "14563"]}




  ;; INSTALL, JAR, DEPLOY, ...


  :deploy
  {:exec-args  {:artifact  "compiled/jvm/release.jar"
                :installer :remote}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}}


  :install
  {:exec-args  {:artifact  "compiled/jvm/release.jar"
                :installer :local}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}}
    

  :jar
  {:exec-args    {:jar      "compiled/jvm/release.jar"
                  :sync-pom true}
   :exec-fn      hf.depstar/jar
   :replace-deps {seancorfield/depstar {:mvn/version "2.0.171"}}}


  :uberjar
  {:exec-args    {:aot true}
   :exec-fn      hf.depstar/uberjar
   :replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.245"}}}



  ;; DEV





  ;; ADDITIONAL PROFILES FOR CLI APPS


  :project.app.fuzz
  {:extra-paths ["project/app/fuzz/src/clj/main"]}






  ;; RUNNING CLI APPS

  :app.fuzz
  {:exec-args {:max-size 200
               :root     "report/fuzz"}
   :exec-fn   convex.app.fuzz/random}


  :app.run
  {:main-opts ["-m" "convex.app.run"]}






  }
 ;;
 ;; ALIAS END



 :deps
 {;cljs-ajax/cljs-ajax  {:mvn/version "0.8.3"}
 ; hawk/hawk                {:mvn/version "0.2.11"}
 ; org.clojure/test.check   {:mvn/version "1.1.0"}
 ; world.convex/convex      {:local/root  "cvm/c08c8231fcecabc2ab6c8e0a856f8c1b72965385.jar"}
  }




 :paths
 [;"project/break/src/clj/main"
  ;"project/break/src/cvx/main"
  ;"project/clojurify/src/cljc/main"
  ;"project/cvm/src/clj/main"
  ;"project/run/src/clj/main"
  ;"project/run/src/cvx/main"
  ;"project/sync/src/clj/main"
  ;"project/watch/src/clj/main"
  ]
}
