{:aliases
 {


  ;; EXTERNAL DEPENDENCIES


  :ext/clojure.tools.build

  {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}}
   :maestro/doc "Used for building jars and uberjars"}

  :ext/criterium

  {:extra-deps  {criterium/criterium {:mvn/version "0.4.6"}}
   :maestro/doc "Benchmarking"}


  :ext/clj-http

  {:extra-deps {clj-http/clj-http {:mvn/version "3.12.3"}}
   :maestro/doc "HTTP client needed for recipes"}


  :ext/convex-core

  {:extra-deps      {world.convex/convex-core {:mvn/version "0.7.5"}}
   :maestro/doc     "Java implementation of the CVM and related utilities"
   :maestro/require [:ext/slf4j-timbre]}


  :ext/convex-peer

  {:extra-deps  {world.convex/convex-peer {:mvn/version "0.7.5"}}
   :maestro/doc "Mostly used for its Convex binary client."}


  :ext/deps-deploy
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :maestro/doc  "Local install and deploying to Clojars"}


  :ext/json

  {:extra-deps  {org.clojure/data.json {:mvn/version "2.4.0"}}
   :maestro/doc "JSON utils needed for recipes"}


  :ext/kaocha

  {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.66.1034"}}
   :maestro/doc "Testing framework"}


  :ext/maestro {:extra-deps  {com.protosens/maestro {:git/sha "b98268e8e6df2d99b9a3a1b376a8254a013c996b"
                                                     :git/url "https://github.com/protosens/maestro.clj.git"}}
                :maestro/doc "Library used for managing this repo as a monorepo"}

  :ext/mprop

  {:extra-deps  {io.helins/mprop {:mvn/version "0.0.1"}}
   :maestro/doc "Improves writing complex generative tests with `ext/test.check`."}


  :ext/slf4j-timbre

  {:extra-deps  {com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}}
   :maestro/doc "Needed for supressing warnings related to SLF4J used by some dependencies"}


  :ext/test.check

  {:extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}
   :maestro/doc "Writing generative tests and generators for internal libraries"}


  ;; USEFUL BUNDLES OF ALIASES

  :bundle/test
  {:maestro/doc     "Test utilities"
   :maestro/require [:ext/kaocha
                     :ext/mprop
                     :ext/test.check]}



  ;; FOR TASKS

  :task/deploy
  {:maestro/doc     "Installing or deploying artifacts"
   :maestro/require [:ext/deps-deploy]}


  :task/dev

  {:extra-paths     ["dev"]
   :jvm-opts        ["-Dconvex.dev=true"]
   :maestro/doc     "Automatically invoked during dev, brings commonly needed utilities"
   :maestro/require [:bundle/test
                     :ext/criterium]}


  :task/test

  {:main-opts       ["-m"            "kaocha.runner"
                     "--config-file" "kaocha.edn"]
   :maestro/doc     "Automatically invoked during testing"
   :maestro/require [:bundle/test]}




  ;; PROJECTS


  :project/app.fuzz

  {:exec-args       {:max-size 200
                     :root     "report/fuzz"}
   :exec-fn         convex.app.fuzz/random
   :extra-paths     ["project/app/fuzz/src/clj/main"]
   :maestro/dir     "project/app/fuzz"
   :maestro/doc     "Run fuzzy tests against the CVM"
   :maestro/main    convex.app.fuzz
   :maestro/require [:ext/test.check
                     :project/break
                     :project/cvm
                     :project/clojurify
                     {dev :dev/app.fuzz}]
   :maestro/uberjar "private/build/app-fuzz.uber.jar"}


  :dev/app.fuzz

  {:extra-paths ["project/app/fuzz/src/clj/dev"]}

  ;---

  :project/break

  {:extra-paths     ["project/break/src/clj/main"
                     "project/break/src/cvx/main"]
   :maestro/dir     "project/break"
   :maestro/doc     "Advanced generative testing against the CVM"
   :maestro/require [:project/clojurify
                     :project/cvm
                     :project/gen
                     {dev :dev/break}
                     {test :test/break}]}


  :dev/break

  {:extra-paths ["project/break/src/clj/dev"]}


  :test/break

  {:extra-paths ["project/break/src/clj/test"]}

  ;---

  :project/build

  {:extra-paths     ["project/build/src/clj/main"]
   :maestro/require [:ext/clojure.tools.build
                     :ext/maestro]}

  ;---

  :project/clojurify

  {:extra-paths     ["project/clojurify/src/clj/main"]
   :maestro/dir     "project/clojurify"
   :maestro/doc     "Writing Convex Lisp forms as Clojure data and related utilities"
   :maestro/require [:ext/test.check
                     {dev :dev/clojurify}
                     {default :project/cvm
                      release :release/cvm}
                     {test :test/clojurify}]}


  :dev/clojurify

  {:extra-paths ["project/clojurify/src/clj/dev"]}


  :release/clojurify

  {:extra-deps {world.convex/clojurify.clj {:mvn/version "0.0.0-alpha2"}}}


  :test/clojurify

  {:extra-paths ["project/clojurify/src/clj/test"]}

  ;---

  :project/cvm

  {:extra-paths               ["project/cvm/src/clj/main"]
   :maestro/dir                "project/cvm"
   :maestro/doc                "Handling CVM contextes and Convex data"
   :maestro/require           [:ext/convex-core
                               {dev :dev/cvm}
                               {test :test/cvm}]
   :maestro.build/artifact    world.convex/cvm.clj
   :maestro.build/type        :jar
   :maestro.build/version     "0.0.0-alpha3"
   :maestro.build.path/output "private/target/cvm.jar"}


  :dev/cvm

  {:extra-paths ["project/cvm/src/clj/dev"]}


  :release/cvm

  {:extra-deps {world.convex/cvm.clj {:mvn/version "0.0.0-alpha3"}}}


  :test/cvm

  {:extra-paths     ["project/cvm/src/clj/test"]
   :maestro/require [:project/gen]}

  ;---

  :project/gen

  {:extra-paths               ["project/gen/src/clj/main"]
   :maestro/dir               "project/gen"
   :maestro/doc               "`test.check` generators for cells"
   :maestro/require           [:ext/test.check
                               {dev :project/gen}
                               {default :project/cvm
                                release :release/cvm}
                               {test :test/gen}]
   :maestro.build/artifact    world.convex/gen.clj
   :maestro.build/type        :jar
   :maestro.build/version     "0.0.0-alpha0"
   :maestro.build.path/output "private/target/gen.jar"}


  :dev/gen

  {:extra-paths ["project/gen/src/clj/dev"]}


  :release/gen

  {:extra-deps {world.convex/gen.clj {:mvn/version "0.0.0-alpha0"}}}


  :test/gen

  {:extra-paths ["project/gen/src/clj/test"]}

  ;---

  :project/net

  {:extra-paths               ["project/net/src/clj/main"]
   :maestro/doc               "Convex network utilities"
   :maestro/dir               "project/net"
   :maestro/require           [:ext/convex-peer
                               {dev :dev/net}
                               {default :project/cvm
                                release :release/cvm}
                               {test :test/net}]
   :maestro.build/artifact    world.convex/net.clj
   :maestro.build/type        :jar
   :maestro.build/version     "0.0.0-alpha2"
   :maestro.build.path/output "private/target/net.jar"}


  :dev/net

  {:extra-paths ["project/net/src/clj/dev"]}


  :release/net

  {:extra-deps {world.convex/net.clj {:mvn/version "0.0.0-alpha2"}}}


  :test/net

  {:extra-paths ["project/net/src/clj/test"]}

  ;---

  :project/recipe

  {:extra-paths     ["project/recipe/src/clj/main"
                     "project/recipe/src/cvx/main"]
   :maestro/dir     "project/recipe"
   :maestro/doc     "Examples for common use cases"
   :maestro/require [:ext/clj-http
                     :ext/json
                     :project/cvm
                     :project/net]}

  ;---

  :project/run

  {:extra-paths                     ["project/run/src/clj/main"
                                     "project/run/src/cvx/main"
                                     "project/run/src/misc"]
   :maestro/dir                     "project/run"
   :maestro/doc                     "Convex Lisp Runner"
   :maestro/require                 [:ext/criterium
                                     {dev :dev/run}
                                     {default :project/cvm
                                      release :release/cvm}]
   :maestro.build/type              :uberjar
   :maestro.build.path/output       "private/target/run.uber.jar"
   :maestro.uberjar/main            convex.run
   :maestro.uberjar/direct-linking? true}


  :dev/run

  {:extra-paths     ["project/run/src/clj/dev"
                     "project/run/src/cvx/dev"]}

 }}
