#kaocha/v1
{:kaocha/reporter
 [kaocha.report/documentation]

 :tests
 [#meta-merge [{:id                 :unit
                :kaocha/ns-patterns [".+"]}
               #include "private/maestro-kaocha.edn"]]}
