#kaocha/v1
{:tests [{:id                  :break
          :kaocha/ns-patterns  [".+"]
          :kaocha/source-paths ["project/break/src/clj/main"]
          :kaocha/test-paths   ["project/break/src/clj/test"]}

         ; {:id                  :clojurify
         ;  :kaocha/ns-patterns  [".+"]
         ;  :kaocha/source-paths ["project/clojurify/src/clj/main"]
         ;  :kaocha/test-paths   ["project/clojurify/src/clj/test"]}

         {:id                  :cvm
          :kaocha/ns-patterns  [".+"]
          :kaocha/source-paths ["project/cvm/src/clj/main"]
          :kaocha/test-paths   ["project/cvm/src/clj/test"]}

         {:id                  :deploy.lib.trust
          :kaocha/ns-patterns  [".+"]
          :kaocha/source-paths ["project/deploy/lib/trust/src/clj/main"]
          :kaocha/test-paths   ["project/deploy/lib/trust/src/clj/test"]}
         ]}
