#kaocha/v1
{:tests [{:id                  :jvm
          :kaocha/ns-patterns  [".+"]
          :kaocha/source-paths ["project/break/src/clj/main"]
          :kaocha/test-paths   ["project/break/src/clj/test"]}]}
