{:aliases
 {:dev
  {:extra-paths ["src/clj/dev"]}
  
  :test
  {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.829"}}
   :extra-paths ["src/clj/test"]}}


 :deps
 {world.convex/convex {:local/root "../../cvm/convex.jar"}}


 :paths
 ["../clojurify/src/cljc/main"
  "src/clj/main"]}
