{:hooks   {:analyze-call {convex.lisp.form/templ*              hooks.convex/templ*
                          convex.lisp.test.eval/ctx*           hooks.convex/templ*
                          convex.lisp.test.eval/error*         hooks.convex/templ*
                          convex.lisp.test.eval/error?*        hooks.convex/templ*
                          convex.lisp.test.eval/error-arg?*    hooks.convex/templ*
                          convex.lisp.test.eval/error-arity?*  hooks.convex/templ*
                          convex.lisp.test.eval/error-cast?*   hooks.convex/templ*
                          convex.lisp.test.eval/error-fund?*   hooks.convex/templ*
                          convex.lisp.test.eval/error-memory?* hooks.convex/templ*
                          convex.lisp.test.eval/error-nobody?* hooks.convex/templ*
                          convex.lisp.test.eval/error-state?*  hooks.convex/templ*
                          convex.lisp.test.eval/like-clojure?* hooks.convex/templ*
                          convex.lisp.test.eval/result*        hooks.convex/templ*}}
 :lint-as {clojure.test.check.properties/for-all clojure.core/let
           convex.lisp.test.prop/deftest         clojure.test/deftest}}
